@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: url(./static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url(./static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  src: url(./static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url(./static/Montserrat-Bold.ttf);
}
